# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse/STS ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# OS
### macOS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

# Build tools
build/
!**/src/main/**/build/
!**/src/test/**/build/

#application.properties
application.properties